#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.4rem;
  font-weight: 100;
}

.introName {
  color: yellowgreen;
}

.introPara {
  font-size: 0.9rem;
  font-weight: 300;
}

.btn {
  background: white;
  margin: 2rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

.descrParaLast{
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .bg {
    right: -25vw;
  }
  .descrParaLast{
    font-size: 0.9rem;
  }
  /* .introContent {
    font-size: 5vw;
  }
  .hello{
    font-size: 3.5vw
  } */
}
