#contactPage {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 2rem;
}

.contactDescr {
  padding: 1rem;
  font-size: small;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.4rem;
  padding: 0.6rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}

.submitBtn {
  background: white;
  border: none;
  margin: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 0.65rem 3rem;
  border-radius: 1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.75rem;
}

.link:active,
.link:hover {
  transform: scale(0.9);
}
